{% extends "base.html" %}

{% block content %}
<div class="container shadow-sm p-3 mb-5" id="filter-by">
    <h2>Rūšiuoti kortas pagal</h2>
    <div class="container" id="ul-container">
        <div id="filter-by-arcana">
            <h5>Arkanus:</h5><hr class="smol">
            <ul id="arcana">
                <li><a href="{% url 'filter_cards' 'major' %}">Didieji Arkanai</a></li>
                <li><a href="{% url 'filter_cards' 'minor' %}">Mažieji Arkanai</a></li>
            </ul>
        </div>
        <div id="filter-by-suit">
            <h5>Rūšis:</h5><hr class="smol ler">
            <ul id="suit">
                <li><a href="{% url 'filter_cards' 'wands' %}">Lazdos</a></li>
                <li><a href="{% url 'filter_cards' 'cups' %}">Taurės</a></li>
                <li><a href="{% url 'filter_cards' 'swords' %}">Kardai</a></li>
                <li><a href="{% url 'filter_cards' 'pentacles' %}">Monetos</a></li>
            </ul>
        </div>
    </div>
</div>
{% if card_list %}
<div class="container" id="all-cards-container">
    {% for card in card_list %}
    <div>
        <div class="card shadow-sm">
            {{ card.name }}
            <a href="{% url 'card' card.pk %}" class="text-center">
            <img style="width: 200px; height: 351px;"
            alt="{{ card.name }}"
            src="{{ card.image.url }}">
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}