{% extends "base.html" %}
{% block content %}
{% if user_form.errors %}
{% endif %}
    <div class="container profile">
        <h2>Slaptažodžio keitimas</h2><br>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="old-password">Dabartinis slaptažodis</label>
                <input type="password" name="old_password" id="old-password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="new-password">Naujas slaptažodis</label>
                <input type="password" name="new_password1" id="new-password" class="form-control" required>
                <small class="form-text text-muted">Ne mažiau, kaip 8 simboliai. Negali būti sudarytas tik iš skaičių</small>
            </div>
            <div class="form-group">
                <label for="repeat-password">Pakartoti slaptažodį</label>
                <input type="password" name="new_password2" id="repeat-password" class="form-control" required>
            </div>
            <br>
            <div class="div-button">
                <button type="submit" class="btn btn-lg" id="update-password">Atnaujinti</button>
            </div>
        </form>
    </div>

{% endblock %}