{% extends "base.html" %}
{% block content %}
{% if user_form.errors %}
<div class="alert alert-danger" role="alert">
    {% for key, value in user_form.errors.items %}
        {{value}}
    {% endfor %}
</div>
{% endif %}
    <div class="container profile">
        <div class="media">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Vartotojo vardas</label>
                {{ user_form.username }}
                <label>El. paštas</label>
                {{ user_form.email }}
            </div>
            <br>
            <div class="form-group">
                <a href="{% url 'change_password' %}">Keisti slaptažodį</a>
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-lg" type="submit">Atnaujinti</button>
            </div>
        </form>
    </div>

{% endblock %}