
{% extends "base.html" %}

{% block content %}
    {% if validlink %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for key, value in form.errors.items %}
            {{value}}
        {% endfor %}
    </div>
    {% endif %}
    <div class="container login">
        <form action="" method="post">
        {% csrf_token %}
        <small class="form-text text-muted">Ne mažiau, kaip 8 simboliai. Negali būti sudarytas tik iš skaičių</small>
            <table class="table restore">
                <tr>
                    <td>
                        <label for="id_new_password1">Naujas slaptažodis:</label>
                    </td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>
                        <label for="id_new_password2">Slaptažodžio patvirtinimas:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            <button type="submit" class="btn btn-lg">Pakeisti slaptažodį</button>
        </form>
    {% else %}
        <h1>Nepavyko pakeisti slaptažodžio</h1>
        <p>Slaptažodžio pakeitimo nuoroda negaliojanti. Prašome inicijuoti slaptažodžio keitimą iš naujo.</p>
    {% endif %}
    </div>
{% endblock %}